* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.size-button {
	margin-bottom: 32px;
}

.sketchboard {
	border: 1px solid lightgrey;
}

.sketchboard-row {
	display: flex;
	justify-content: center;
}

.sketchboard-square {
	border: 1px solid lightgrey;
}
